.DS_Store
__pycache__
/TEMP
*.pyd
hubert_base.pt
/logs
.venv

weights/
vocal/
uvr5_weights/
upload_voice/
upload_profileImage/
pretrained_v2/
pretrained_models/

inference_result/
inference_result2/
dereverb/
audio_cache/
.ipynb_checkpoints/
logs/
music/
inst/
runtime/

ffmpeg.exe
ffprobe.exe
rmvpe.pt
models/